.valid-field{
  background: green;

  input:focus{
    background: green;
  }
}
.invalid-field{
  background: red;

  input:focus{
    background: red;

  }
}

.hidden-focus-label{

  input{
    &:focus ~ label{
      display: none;
    }
  }
}