$header-height: 50px;
$footer-height: 50px;

#header-section{
  width: 100%;
  position: fixed;
  z-index: 2;
  background: white;
  height:$header-height;
  line-height: $header-height;
  text-align: center;
  border-bottom: 10px solid #EFEFEF;
  font-family: "HUGEAvantGardeBold",sans-serif
}


#content-area{
  position: fixed;
  top: $header-height;
  padding-top: 20px;
  padding-bottom: ($footer-height + $header-height);
  height: 100%;
  overflow: scroll;
  width: 100%;
  background: #F8F8F8;
  color: #646464;

}
#footer-section{
  width: 100%;
  position: fixed;
  bottom: 0px;

  background: #000;
  height: $footer-height;
  border-top: 3px solid #8ACDE4;
  z-index: 2;
}

.spinner-overlay{
  display:none;
  z-index: 900;
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: white;
  opacity: 0.8;

  .spinner-image{
    position: absolute;
    top: 50%;
  }


  &.show-spinner{
    display: block;
  }
}