
<!--  -->

<div class="row">
  <div class="small-12 columns "id="header-section">
    Header Section
  </div>
</div>

<div class="row">
  <div class="small-12 columns" id="content-area">
    Header Section
  </div>
</div>

<div class="row">
  <div class="small-12 columns "id="footer-section">
    Footer
  </div>
</div>
<section >

</section>

<section >
  SomeContent
</section>
<section id="footer-section">
  Footer Section
</section>
<!--  -->

<div class="row">
  <div class="medium-6 columns">
    <div id="email-wrapper"></div>
  </div>
  <div class="medium-6 columns">
    <div id="time-wrapper"></div>
  </div>
</div>

<div class="row" >
  <div class="small-12 columns">
    <textarea name="message" id="" cols="30" rows="10"></textarea>
    <input type="text" for="message" name="message">
  </div>
</div>

<div class="row">

  <div class="small 12 columns">
    <div id="work-type-wrapper"></div>
  </div>
</div>


<div class="spinner-overlay">
  <img src="images/spinner.gif" alt="">
</div>

